appdirs==1.4.4
asgiref==3.2.10
atomicwrites==1.4.0
attrs==20.3.0
colorama==0.4.4
distlib==0.3.1
Django==3.1.2
django-phonenumber-field==5.0.0
djangorestframework==3.12.1
filelock==3.0.12
flake8==3.8.4
gunicorn==19.9.0
iniconfig==1.1.1
mccabe==0.6.1
mysqlclient==2.0.1
packaging==20.4
phonenumbers==8.12.12
pluggy==0.13.1
protobuf==4.0.0rc2
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
PyMySQL==0.10.1
pyparsing==2.4.7
pytest==6.1.2
pytz==2020.1
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
tox==3.20.1
virtualenv==20.1.0
